PORT=4000
JWT_SECRET=your_random_secret_key
MONGODB_URI=mongodb://localhost:27017/resume_analyzer
MISTRAL_API_KEY="yMZUCft5YDH3LJLvNf3sdemhsc4PQoOG"
MISTRAL_API_URL=https://api.mistral.ai/v1/embeddings
MISTRAL_EMBEDDING_MODEL=mistral-embedding-3-large
CACHE_TTL_SECONDS=300
